.main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.main-card {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  mat-card-header {
    display: flex;
    justify-content: center;
  }
}
