<div class="full-width">
    <h4>Dirección</h4>
    <mat-divider></mat-divider>
    <div class="section">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Calle</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.calle"
          matInput
        />
        @if (!infoDireccion.controls.calle.valid &&
        infoDireccion.controls.calle.touched) {
        <mat-error>Por favor, especifique la calle</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Numero</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.numero"
          matInput
        />
        @if (!infoDireccion.controls.numero.valid &&
        infoDireccion.controls.numero.touched) {
        <mat-error>Por favor, especifique el numero</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Piso</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.piso"
          matInput
        />
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Departamento</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.departamento"
          matInput
        />
      </mat-form-field>
    </div>
  </div>
  