<div class="full-width">
    <h4>Dirección</h4>
    <mat-divider></mat-divider>
    <div class="section">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Calle</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.street"
          matInput
        />
        @if (!infoDireccion.controls.street.valid &&
        infoDireccion.controls.street.touched) {
        <mat-error>Por favor, especifique la calle</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Numero</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.number"
          matInput
        />
        @if (!infoDireccion.controls.number.valid &&
        infoDireccion.controls.number.touched) {
        <mat-error>Por favor, especifique el numero</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Piso</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.floor"
          matInput
        />
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Departamento</mat-label>
        <input
          type="text"
          [formControl]="infoDireccion.controls.apartment"
          matInput
        />
      </mat-form-field>
    </div>
  </div>
  