h1 {
    padding: 0;
    margin: 20px 0 0 0;
}

.actions {
    display: flex;
    justify-content: end;
    width: 100%;
}

button {
    border-radius: 10px;
}

.warn {
    background-color: #811b1dc9 !important;
    margin-right: 20px;
}

.arrow-back {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}