<div class="pie-chart">
  <div class="form">
    <h1>Ganancias totales</h1>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Periodo" [formControl]="pieChartRevenueControl.controls.revenueType" (valueChange)="onSelectRevenueType($event)">
          <mat-option value="DAILY">Diario</mat-option>
            <mat-option value="MONTHLY">Mensual</mat-option>
        </mat-select>
      </mat-form-field>

      @if(pieChartRevenueControl.controls.revenueType.value === 'DAILY') {
        <mat-form-field appearance="outline">
            <mat-label>Selecciona un rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="rangepicker">
              <input
                matStartDate
                [formControl]="pieChartRevenueControl.controls.fromDate"
                placeholder="Start date"
              />
              <input
                matEndDate
                [formControl]="pieChartRevenueControl.controls.toDate"
                placeholder="End date"
                (dateChange)="selectDate()"
              />
            </mat-date-range-input>
            <mat-hint>MM/DD/AAAA – MM/DD/AAAA</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="rangepicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangepicker></mat-date-range-picker>
            </mat-form-field>
      }
      @if (pieChartRevenueControl.controls.revenueType.value === 'MONTHLY') {
        <mat-form-field appearance="outline">
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="startDatePicker" [formControl]="pieChartRevenueControl.controls.fromDate"
              >
          <mat-datepicker #startDatePicker [startView]="'multi-year'" (monthSelected)="onSelectedDate($event, startDatePicker, 1)"/>
          <mat-datepicker-toggle [for]="startDatePicker" matSuffix />
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="endDatePicker" [formControl]="pieChartRevenueControl.controls.toDate"
              >
          <mat-datepicker #endDatePicker [startView]="'multi-year'" (monthSelected)="onSelectedDate($event, endDatePicker, 2)"/>
          <mat-datepicker-toggle [for]="endDatePicker" matSuffix />
      </mat-form-field>
      }
  </div>
  <ngx-charts-bar-vertical
    [view]="view"
    [xAxis]="true"
    [yAxis]="true"
    [results]="single()"
    [gradient]="gradient"
    [legend]="false"
    [scheme]="'air'"
    [schemeType]="schemeType"
    [legendTitle]="'Ganancias'"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>