@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.

mat-toolbar {
    flex: 0 0 auto; /* Mantiene su tamaño natural */
    z-index: 2;
    // background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}