@use '@angular/material' as mat;

mat-toolbar {
    color: #f9f9f9;
    z-index: 2;
    height: 10vh;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.izquierda {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.derecha {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    button {
        border: 1px solid #F9F9F9;
        border-radius: 10px;
        color: #F9F9F9;
    }
}

.menu {
    display: flex;
    gap: 16px;
    height: 100%;

    div[mat-button] {
        cursor: pointer;
        font-size: 18px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.not_menu {
    margin-right: 10px;
}

mat-icon {
    font-size: 18px;
    align-content: center;
    text-align: center;
}

.logo {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.231));
    margin-right: 10px;
    max-width: 250px;
    height: auto;
    cursor: pointer;
}

mat-icon {
    transition: transform 0.3s ease;
}

mat-icon.rotate {
    transform: rotate(180deg);
}

.button {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px
}