<app-centered-card>
    <ng-container main-header>
    </ng-container>

    <ng-container main-content>
        <div class="content">
            @if (doctor()?.speciality) {
            <h1>Información del médico</h1>
            } @else {
            <h1>Información del paciente</h1>
            }
            <div class="data">
                <h2 class="titulo">Datos personales</h2>
                <div class="row">
                    <div class="column">
                        <div class="combo">
                            <div class="label">Date:</div>
                            <div class="info-persona">{{ person()?.name }}</div>
                        </div>
                        <div class="combo">
                            <div class="label">DNI:</div>
                            <div class="info-persona">{{ person()?.dni }}</div>
                        </div>
                        <div class="combo">
                            <div class="label">Date de nacimiento:</div>
                            <div class="info-persona">{{ person()?.birthdate?.toLocaleLowerCase() }}</div>
                        </div>

                        @if (doctor()?.speciality) {
                        <div class="combo">
                            <div class="label">Especialidad:</div>
                            <div class="info-persona">{{ doctor()?.speciality?.name }}</div>
                        </div>
                        <div class="combo">
                            <div class="label">Salario:</div>
                            <div class="info-persona">${{ doctor()?.salary }}</div>
                        </div>
                        } @else {
                        <div class="combo">
                            <div class="label">Obra social:</div>
                            <div class="info-persona">{{ paciente()?.medicalSecure?.name }}</div>
                        </div>
                        }
                    </div>
                    <div class="column">
                        <div class="combo">
                            <div class="label">Apellido:</div>
                            <div class="info-persona">{{ person()?.surname }}</div>
                        </div>
                        <div class="combo">
                            <div class="label">Correo electrónico:</div>
                            <div>{{ person()?.email }}</div>
                        </div>
                        <div class="combo">
                            <div class="label">Teléfono:</div>
                            <div>{{ person()?.phone }}</div>
                        </div>
                        <div class="combo">
                            <div class="label">Dirección:</div>
                            <div>Calle {{ person()?.address?.street }} Nº{{ person()?.address?.number }}
                                {{person()?.address?.floor }}{{ person()?.address?.apartment }}</div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="data">
                <h2 class="titulo">Historial de consultas</h2>
                <div class="contenedor_tabla">
                    <div class="mat-elevation-z8">
                        <table class="tabla" mat-table [dataSource]="consultas()">

                            <ng-container matColumnDef="date">
                                <th mat-header-cell class="date" *matHeaderCellDef>Fecha</th>
                                <td mat-cell class="date" *matCellDef="let consultation"> {{consultation.date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="timeStart">
                                <th mat-header-cell class="time" *matHeaderCellDef>Hora</th>
                                <td mat-cell class="time" *matCellDef="let consultation">
                                    {{consultation.startTime.split(':')[0]}}:{{consultation.startTime.split(':')[1]}}
                                </td>
                            </ng-container>

                            @if (doctor()?.speciality) {
                            <ng-container matColumnDef="person">
                                <th mat-header-cell class="person" *matHeaderCellDef>Paciente</th>
                                <td mat-cell class="person" *matCellDef="let consultation">
                                    {{consultation.patient.name}} {{consultation.patient.surname}}
                                </td>
                            </ng-container>
                            } @else {
                            <ng-container matColumnDef="person">
                                <th mat-header-cell class="person" *matHeaderCellDef> Médico </th>
                                <td mat-cell class="person" *matCellDef="let consultation">
                                    {{consultation.doctor.name}} {{consultation.doctor.surname}}
                                </td>
                            </ng-container>
                            }

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">
                                    <div class="nada">No se han encontrado especialidades</div>
                                </td>
                            </tr>
                        </table>
                        <div class="paginator">
                            @if (consultas().length === 0) {
                            <div style="height: 34px;"></div>
                            } @else {
                            <app-paginator [totalItems]="pageInfo().totalItems" [pageSize]="5"
                                (pageChange)="pageChange($event)" [currentPage]="currentPage()"></app-paginator>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container main-actions>
    </ng-container>
</app-centered-card>