<div class="full-width">
    <h4>Datos personales</h4>
    <mat-divider></mat-divider>
    <div class="section">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          type="text"
          [formControl]="infoPersonal.controls.nombre"
          matInput
        />
        @if (!infoPersonal.controls.nombre.valid &&
        infoPersonal.controls.nombre.touched) {
        <mat-error>Por favor, especifique el nombre</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Apellido</mat-label>
        <input
          type="text"
          [formControl]="infoPersonal.controls.apellido"
          matInput
        />
        @if (!infoPersonal.controls.apellido.valid &&
        infoPersonal.controls.apellido.touched) {
        <mat-error>Por favor, especifique el apellido</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>DNI</mat-label>
        <input
          type="number"
          [formControl]="infoPersonal.controls.dni"
          matInput
        />
        @if (!infoPersonal.controls.dni.valid &&
        infoPersonal.controls.dni.touched) {
        <mat-error>Por favor, especifique el dni</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
            (dateChange)="infoPersonal.controls.fechaNacimiento.setValue($event.value!.toISOString().split('T')[0])"
          [matDatepickerFilter]="dateFilter"
        />
        <mat-hint style="color: #004454">DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month"></mat-datepicker>
        @if (infoPersonal.controls.fechaNacimiento.invalid && infoPersonal.controls.fechaNacimiento.touched) {
          <mat-error>Por favor, ingrese una fecha válida en formato DD/MM/YYYY</mat-error>
        }
      </mat-form-field>

    </div>
  </div>
  