<h1 mat-dialog-title>Información del servicio</h1>

<div class="column" mat-dialog-content>
  <div>
    <div><b>Nombre:</b> {{servicio().name}}</div>
    <div><b>Código:</b> {{servicio().code}}</div>
    <div><b>Tipo de servicio</b> {{this.tipoServicio}}</div>
    <div><b>Descripción:</b> {{servicio().description}}</div>
    <div><b>Precio:</b> $ {{servicio().price}}</div>
    <div><b>Duración estimada:</b> {{formatDuration(servicio().estimatedDuration!.toString())}}</div>
  </div>
</div>

<div class="column" mat-dialog-actions>
  <button mat-flat-button (click)="onModify()">Modificar</button>
  <button mat-flat-button class="warn" (click)="onClose()">Cancelar</button>
</div>