<app-centered-card>
  <ng-container main-header>
    <h2>Listado de servicios</h2>
  </ng-container>

  <ng-container main-content>
    <div class="content">

      <div class="row full-width">
        <mat-form-field class="full-width" appearance="outline">
          <mat-icon matPrefix style="font-size: 24px; color: black">search</mat-icon>
          <mat-label>Ingrese un servicio</mat-label>
          <input matInput placeholder="Ingrese un servicio" (keyup)="applyFilter($event)" #input>
        </mat-form-field>


        <button mat-flat-button style="min-width: max-content !important;" (click)="createServicio()">Añadir
          servicio</button>
      </div>


      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="servicios()" matSort>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell class="nombre" *matCellDef="let servicio"> {{servicio.name}} </td>
          </ng-container>

          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell class="precio" *matCellDef="let servicio">$ {{servicio.price}} </td>
          </ng-container>

          <ng-container matColumnDef="duracionEstimada">
            <th mat-header-cell class="duracionEstimada" *matHeaderCellDef> Duración estimada </th>
            <td mat-cell class="duracionEstimada" *matCellDef="let servicio">
              <i>{{formatDuration(servicio.estimatedDuration)}}</i>
            </td>
          </ng-container>

          <ng-container class="edit" matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>

            <td id="edit" mat-cell *matCellDef="let servicio" style="text-align: right;">
              <button id="menu" [matMenuTriggerFor]="menu"><mat-icon
                  style="color: black; font-size: 22px; margin-top: 5px">more_vert
                </mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="servicioInfo(servicio)">Ver más</button>
                <button (click)="editServicio(servicio, servicio.speciality.id)" mat-menu-item>Modificar</button>
                <button (click)="deleteServicio(servicio.id)" mat-menu-item>Eliminar</button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" class="td-nada" colspan="8">
              <div class="nada">No se han encontrado servicios</div>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </ng-container>

  <ng-container main-actions>
    @if (servicios().length === 0) {
    <div style="height: 34px;"></div>
    } @else {
    <app-paginator [totalItems]="pageInfo().totalItems" [pageSize]="5" (pageChange)="pageChange($event)"
      [currentPage]="currentPage()"></app-paginator>
    }
  </ng-container>

</app-centered-card>