.turnos-container {
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

h2 {
  text-align: center;
  padding: 0;
}
.no-turnos {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
.turno-card {
  margin-bottom: 16px;
}
:root {
  height: 100%;
}

.mat-typography {
  overflow: hidden;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.turno-info h3 {
  margin: 0;
  font-weight: 500;
}
.especialidad {
  color: rgba(0, 0, 0, 0.54);
  margin: 4px 0;
}
.hora {
  margin: 0;
}
.buscadores {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
