<h2 mat-dialog-title>{{ data.fechaFormat | date:'mediumDate':'':'es' }}</h2>
    <mat-dialog-content class="mat-typography">
      <div class="buscadores">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Especialidad</mat-label>
          <input type="text" matInput [formControl]="especialidadControl" [matAutocomplete]="autoEsp">
          <mat-autocomplete #autoEsp="matAutocomplete" [displayWith]="displayEspecialidad" (optionSelected)="selectedEspeciality($event)">
            @for (option of filteredEspecialidadOptions | async; track option?.code) {
              <mat-option [value]="option" style="padding: 8px">{{option.name}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Medico</mat-label>
          <input type="text" matInput [formControl]="doctorControl" [matAutocomplete]="autoDoc" >
          <mat-autocomplete #autoDoc="matAutocomplete" [displayWith]="displayDoctor" (optionSelected)="selectedDoctor($event)">
            @for (option of filteredDoctorOptions | async; track option.id) {
              @if (option.gender == "MALE") {
                <mat-option [value]="option" style="padding: 8px">Dr. {{option.surname}} {{option.name}}</mat-option>  
              }
              @else {
                <mat-option [value]="option" style="padding: 8px">Dra. {{option.surname}} {{option.name}}</mat-option>
              }
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Desde</mat-label>
          <input matInput
            [matTimepicker]="startTimePicker"
            [(ngModel)]="startTime"
            (ngModelChange)="onSelectedTime($event)"
            >
          <mat-timepicker #startTimePicker/>
          <mat-timepicker-toggle [for]="startTimePicker" matSuffix/>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Hasta</mat-label>
          <input matInput
            [matTimepicker]="endTimePicker"
            [(ngModel)]="endTime"
            (ngModelChange)="onSelectedTime($event)">
          <mat-timepicker #endTimePicker/>
          <mat-timepicker-toggle [for]="endTimePicker" matSuffix/>
        </mat-form-field>
      </div>
      <div class="turnos-container">
        <ng-container *ngIf="turnos().length === 0">
          <p class="no-turnos">No hay turnos disponibles para este día</p>
        </ng-container>
        @for(turno of turnos(); track turno.id) {
        <mat-card [id]="turno.id!" class="turno-card" [ngClass]="{
          'turno-disponible': isTurnoAvailable(turno),
          'turno-reservado': isTunoOcuped(turno),
          'turno-cancelado': isTurnoCanceled(turno),
        }">
          <mat-card-content>
            <div class="turno-info">
              @if (turno.doctor!.gender === "MALE") {
                <h3>Dr. {{ turno.doctor!.surname }} {{ turno.doctor!.name }}</h3>
              }@else {
                <h3>Dra. {{ turno.doctor!.surname }} {{ turno.doctor!.name }}</h3>
              }
              <p class="especialidad">{{ turno.place }}</p>
              <p class="hora">{{ turno.startTime }} ({{ convertDuration(turno!.timeOfShifts!) }})</p>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu" color="primary">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              @if(isTurnoCanceled(turno)) {
                <button mat-menu-item (click)="deleteShift(turno)">Eliminar</button>
              } @else {
                @if (isTunoOcuped(turno)) {
                  <button mat-menu-item (click)="liberarTurno(turno)">Liberar</button>
                  <button mat-menu-item (click)="cancelShift(turno)">Cancelar</button>
                }@else {
                  <button mat-menu-item (click)="goToCreateConsulta(turno)">Reservar</button>
                  <button mat-menu-item (click)="deleteShift(turno)">Eliminar</button>
                  <button mat-menu-item (click)="modificarTurno(turno)">
                    <span>Modificar</span>
                  </button>
                }
              }
            </mat-menu>
          </mat-card-content>
        </mat-card>
      }
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <app-paginator [totalItems]="pageInfo().totalItems" [pageSize]="10" (pageChange)="pageChange($event)" [currentPage]="currentPage()"></app-paginator>
    </mat-dialog-actions>