<div>
    <h1>Consulta médica</h1>
</div>
<div class="data">
    <h2 class="titulo">Detalles de la consulta</h2>
    <div class="row">
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>calendar_today</mat-icon></div>
            <div class="info">
                <div class="label">Fecha</div>
                <div class="value">{{consultation().date | date: 'dd/MM/yyyy'}}</div>
            </div>
        </div>
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>schedule</mat-icon></div>
            <div class="info">
                <div class="label">Hora de inicio</div>
                <div class="value">
                    {{consultation().startTime!.split(':')[0]}}:{{consultation().startTime!.split(':')[1]}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>payments</mat-icon></div>
            <div class="info">
                <div class="label">Precio</div>
                <div class="value">${{consultation().finalPrice}}</div>
            </div>
        </div>
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>timer</mat-icon></div>
            <div class="info">
                <div class="label">Duracion</div>
                <div class="value">{{consultation().estimatedDuration?.toString()}} minutos</div>
            </div>
        </div>
    </div>
    @if(!consultation().isPaid){
    <button mat-flat-button (click)="pagarConsultation()">Realizar pago</button>
    }
    <div class="divider"></div>
    <h2 class="titulo">Participantes</h2>
    <div class="row">
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>person</mat-icon></div>
            <div class="info">
                <div class="label">Médico</div>
                <div class="value">{{consultation().doctor?.name}} {{consultation().doctor?.surname}}</div>
            </div>
        </div>
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>person</mat-icon></div>
            <div class="info">
                <div class="label">Paciente</div>
                <div class="value">{{consultation().patient?.name}} {{consultation().patient?.surname}}</div>
            </div>
        </div>
    </div>
    <!-- <div class="divider"></div>
    <button mat-flat-button (click)="modificarConsulta()">Modificar consulta</button> -->
</div>