<div>
    <h1>Consulta médica</h1>
</div>
<div class="data">
    <h2 class="titulo">Detalles de la consulta</h2>
    <div class="row">
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>calendar_today</mat-icon></div>
            <div class="info">
                <div class="label">Fecha</div>
                <div class="value">12/03/2024</div>
                <!-- <div class="value">{{consultation.date}}</div> -->
            </div>
        </div>
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>schedule</mat-icon></div>
            <div class="info">
                <div class="label">Hora de inicio</div>
                <div class="value">12:30</div>
                <!-- <div class="value">{{consultation.startTime'}}</div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>payments</mat-icon></div>
            <div class="info">
                <div class="label">Precio</div>
                <div class="value">$10000</div>
                <!-- <div class="value">{{consultation.finalPrice'}}</div> -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <h2 class="titulo">Participantes</h2>
    <div class="row">
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>person</mat-icon></div>
            <div class="info">
                <div class="label">Médico</div>
                <div class="value">Dr. Juan Pérez</div>
                <!-- <div class="value">{{consultation.doctor.name}}</div> -->
            </div>
        </div>
        <div class="combo">
            <div class="contenedor_icon"><mat-icon>person</mat-icon></div>
            <div class="info">
                <div class="label">Paciente</div>
                <div class="value">Juanito Pérez</div>
                <!-- <div class="value">{{consultation.patient.name}}</div> -->
            </div>
        </div>
    </div>
</div>