<h1 mat-dialog-title>Añadir paquete</h1>

<div mat-dialog-content>
  <form [formGroup]="paquete">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre" required>
    </mat-form-field>

    <mat-card class="full-width card-tab" appearance="outlined">
      <mat-tab-group class="full-width">
        <mat-tab label="Servicios">
          <div class="tab-content">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Ingrese el nombre del servicio</mat-label>
              <input type="text" matInput [formControl]="servicioControl" />
              <div matSuffix style="margin-right: 10px">
                <mat-icon>search</mat-icon>
              </div>
            </mat-form-field>

            <mat-selection-list class="lista" #servicioList [multiple]="true">
              @for (servicio of servicios(); track servicio.id) {
              <mat-list-option checkboxPosition="before" [value]="servicio.id"
                [selected]="isServicioSelected(servicio.id!)" (selectedChange)="selectionChange($event, servicio.id!)">
                <div class="list-item">
                  <div class="titulo">
                    <span class="servicioNombre">{{ servicio.name }}</span>
                    <span class="servicioTiempo">{{
                      formatDurationTime(servicio.estimatedDuration!)
                      }}</span>
                  </div>
                  <span>{{ servicio.price | currency : "ARS" }}</span>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              }
            </mat-selection-list>
          </div>
          <div class="paginador">
            <app-paginator [totalItems]="pageInfo().totalItems" [pageSize]="10" (pageChange)="pageChange($event)"
              [currentPage]="currentPage()"></app-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </form>
</div>

<div class="pagos">
  <div class="monto">
    <p style="margin: 10px 0 0 25px;">Monto total: {{ totalAmount() | currency : "ARS" }}</p>
  </div>
</div>

<div class="column" mat-dialog-actions>
  <button mat-flat-button (click)="onSubmit()">Guardar</button>
  <button mat-flat-button class="warn" (click)="onClose()">Cancelar</button>
</div>