.full-width {
  width: 100% !important;
  margin-top: 5px;
}

.mat-mdc-form-field-error {
  margin-top: -2.5px;
}

#nombre {
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

button {
  border-radius: 5px;
  width: 100%;
}

h1 {
  text-align: center;
  color: black !important;
  font-weight: bold !important;
  margin-top: 10px;
}

.warn {
  background-color: #811B1DC9 !important;
  margin: 0 0 10px 0 !important;
}

button {
  height: 55px;
  border-radius: 5px;
}

.servicioNombre {
  margin-right: 20px;
}

.paginador {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: -15px;
  margin-bottom: 10px;
}

.lista {
  margin-top: -20px;
}

.servicioTiempo {
  font-weight: 300;
}

.horarios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.content {
  width: 1100px;
}

.full-width {
  width: 100%;
}

.inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.half-width {
  flex: 1;
}

.tab-content {
  padding: 5px 16px 10px 16px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}