<h1 mat-dialog-title>Añadir paquete</h1>

<div mat-dialog-content>
  <form [formGroup]="paquete">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name" required>
      @if (!paquete.controls.name.valid && paquete.controls.name.touched) {
      <mat-error>Por favor, ingrese el nombre</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Especialidad</mat-label>
      <input type="text" [formControl]="especialidad" matInput [matAutocomplete]="autoEsp">
      <mat-autocomplete #autoEsp="matAutocomplete"
        [displayWith]="displayEspecialidad" (optionSelected)="selectedEspeciality($event)">
        @for (option of filteredEspecialidadOptions | async; track option?.code) {
        <mat-option [value]="option" style="padding: 8px">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
      @if (!paquete.controls.specialityId.valid && paquete.controls.specialityId.touched) {
      <mat-error>Por favor, seleccione la especialidad</mat-error>
      }
    </mat-form-field>

    <mat-card class="card-tab" appearance="outlined">
      <mat-tab-group class="full-width">
        <mat-tab label="Servicios">
          <div class="tab-content">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Ingrese el nombre del servicio</mat-label>
              <input type="text" matInput [formControl]="servicioControl" (keyup)="applyFilterService($event)" #input/>
              <div matSuffix style="margin-right: 10px">
                <mat-icon>search</mat-icon>
              </div>
            </mat-form-field>

            <mat-selection-list class="lista" #servicioList [multiple]="true">
              @for (servicio of servicios(); track servicio.id) {
              <mat-list-option checkboxPosition="before" [value]="servicio.id"
                [selected]="isServicioSelected(servicio.id!)" (selectedChange)="selectionChange($event, servicio.id!)">
                <div class="list-item">
                  <div class="titulo">
                    <span class="servicioNombre">{{ servicio.name }}</span>
                    <span class="servicioTiempo">{{
                      formatDurationTime(servicio.estimatedDuration!)
                      }}</span>
                  </div>
                  <span>{{ servicio.price | currency : "ARS" }}</span>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              }
            </mat-selection-list>
          </div>
          <div class="paginador">
            <app-paginator [totalItems]="pageInfo().totalItems" [pageSize]="5" (pageChange)="pageChange($event)"
              [currentPage]="currentPage()">
            </app-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </form>
</div>

<div class="pagos">
  <div class="monto">
    <p style="margin: 10px 0 0 25px;">Monto total: {{ totalAmount()*0.85 | currency : "ARS" }}</p>
  </div>
</div>

<div class="column" mat-dialog-actions>
  <button mat-flat-button (click)="onSubmit()">Guardar</button>
  <button mat-flat-button class="warn" (click)="onClose()">Cancelar</button>
</div>