.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

    .arrow-back {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 100;
    }

  .fechas {
    width: 100%;
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    gap: 20px
  }
  .check {
    padding-top: 8px;
  }
  
  .timers {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
  }

.form-field{
  width: 100%;
  }

mat-form-field {
  width: 100%;
  }

mat-hint{
  margin-top: -2.5px;
  margin-left: -10px;
  }

button{
  border-radius: 10px;
  margin-left: 20px;
  }

:host ::ng-deep .card-actions {
  justify-content: right !important;
  }

.warn {
  background-color: #811B1DC9 !important;
  }

mat-chip-listbox{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  }

mat-chip-option{
  display: inline-flex;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 0
  }
  .day-container {
    width: 100%;
  }