<div class="main">
  <h4>Informacion laboral</h4>
  <mat-divider></mat-divider>
  <div class="section">
    <div class="inner-section-1">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Especialidad</mat-label>
        <mat-select [formControl]="infoLaboral.controls.speciality.controls.id">
          @for (especialidad of especialidades; track especialidad.id) {
          <mat-option value="{{ especialidad.id }}">{{
            especialidad.nombre
          }}</mat-option>
          }
        </mat-select>
        @if (!infoLaboral.controls.speciality.controls.id.valid &&
        infoLaboral.controls.speciality.controls.id.touched) {
        <mat-error>Por favor, seleccione la especialidad</mat-error>
        }
      </mat-form-field>
      <button
        mat-flat-button
        class="nueva-especialidad"
        (click)="nueva_especialidad()"
      >
        Añadir especialidad
      </button>
    </div>
    <div class="inner-section-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Sueldo mensual</mat-label>
        <input
          type="number"
          [formControl]="infoLaboral.controls.salary"
          matInput
        />
        @if (!infoLaboral.controls.salary.valid &&
        infoLaboral.controls.salary.touched) {
        <mat-error>Por favor, especifique el sueldo</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</div>
