.main {
    width: 70vw;
}

.full-width {
    width: 100%;
}

.section {
    margin-top: 20px;
    row-gap: 10px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inner-section-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

button {
    height: 55px;
    border-radius: 10px;
}

h4 {
    margin-left: 10px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1.2rem;
}

mat-divider {
    height: 2px;
}