<app-toolbar></app-toolbar>
<div class="main">
    <mat-card class="main-card">
        @if (true) {
            <!-- solo para logueados -->
            <button (click)="back()" mat-icon-button class="arrow-back">
                <mat-icon>arrow_back</mat-icon>
            </button>
        }
        <mat-card-header class="card-header">
            <ng-content select="[main-header]"></ng-content>
        </mat-card-header>

        <mat-card-content class="card-content" style="display: flex; flex-direction: column; align-items: center;">
            <ng-content select="[main-content]"></ng-content>
        </mat-card-content>
        <mat-card-actions class="card-actions">
            <ng-content select="[main-actions]"></ng-content>
        </mat-card-actions>

    </mat-card>
</div>
