
h1 {
    margin: 0;
    padding: 0;
}

.full-width {
    margin-top: 20px;
    width: 100%;
}

.forgot-pass{
    margin-top: -10px;
    text-align: right;
}

.login-button {
    margin-top: 20px;
    height: 55px;
    font-size: 22px;
    border-radius: 10px;
}