<div class="full-width">
  <h4>Datos de contacto</h4>
  <mat-divider></mat-divider>
  <div class="section">

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Correo electronico</mat-label>
      <input
        type="email"
        [formControl]="infoContacto.controls.email"
        matInput
      />
      @if (!infoContacto.controls.email.valid &&
      infoContacto.controls.email.touched) {
      <mat-error>Por favor, especifique el correo electronico</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Telefono</mat-label>
      <input
        type="text"
        [formControl]="infoContacto.controls.telefono"
        matInput
      />
      @if (!infoContacto.controls.telefono.valid &&
      infoContacto.controls.telefono.touched) {
      <mat-error>Por favor, especifique el numero de telefono</mat-error>
      }
    </mat-form-field>
  </div>
</div>
