
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '../_theme-colors.scss' as my-theme;

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@include mat.toolbar-overrides((
  container-background-color: transparent
));


html, body { height: 100vh; overflow-y: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(to left bottom, #1f438f, #235298, #2b60a1, #376ea8, #457caf, #5185b5, #5c8eba, #6897c0, #729ec6, #7ba5cc, #85acd2, #8eb3d8);}