.full-width {
  width: 100%;
  }

table {
  width: 100%;
  }

.row{
  display: flex;
  }

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  }

td, th {
  width: 25%;
  }

button {
  height: 55px;
  border-radius: 10px;
  }
