*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  }

html {
  box-sizing: border-box;
  overflow-y: scroll;
  letter-spacing: 0.6px;
  line-height: 1.4;
  -webkit-user-select: none;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  }

ul {
  list-style-type: none;
  }

.items-list {
  max-width: 90vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  align-content: center;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    }
  }

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #235298;
  cursor: pointer;

  span {
    background-color: #F9F9F9;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    transition: all 0.3s ease;
    }

  &:hover {
    span {
      transform: scale(1.2);
      color: #2b60a1;
      }
    }

  p {
    margin-top: 1rem;
    color: #235298;
    }
  }

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: #F9F9F9;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);

  &__numbers,
  &__btn,
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    cursor: pointer;
    }

  &__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: #235298;
    cursor: initial;
    }

  &__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;

    &:hover {
      color: #2b60a1;
      }


    &__btn {
      color: #235298;
      pointer-events: none;
      }
    }
  }

.active {
  color: #F9F9F9;
  background-color: #2b60a1;
  font-weight: 600;
  border: 1px solid #2b60a1;

  &:hover {
    color: #FFF !important;
    }
  }
